.benefits{
    padding-bottom: 0;
}

.benefits__list{
    display: flex;
}

.benefits__list li:not(:first-child){
    margin-left: 30px;
}

.benefits__item-icon{
    width: 270px;
    height: 120px;
    background: var(--fifth-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits__subtitle{
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        margin-top: 30px;
        margin-bottom: 10px;
}

.benefits__desc{
        font-size: 14px;
        line-height: 1.71;
        color: var(--secondary-color);
}